@media screen and (max-device-width: 480px) {
    body {
        -webkit-text-size-adjust: none;
    }
}

p {
    font-size: 16px;
}

h1 {
    font-size: 34px;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 18px;
    margin: 8;
    padding: 0;
}

body {
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
}

.title {
    width: 650px;
    margin: 20px auto;
}

.container {
    width: 750px;
    margin: 20px auto;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    clear: both;
}

.container_title {
    width: 750px;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
    clear: both;
}

.iframe_video {
    float: left;
    margin-right: 30px
}

#bio {
    padding-top: 20px;
}

#me {
    border: 0 solid black;
    margin-bottom: 50px;
    border-radius: 10px;
}

#me {
    margin-left: 25px;
    margin-right: 100px;
    border: 0 solid black;
    float: left;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a,
a:visited {
    color: #0050e7;
}

.publication {
    display: flex;
    justify-content: start;
    align-items: center;

    border-radius: 5px;
}

.publication .pub_img {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30%;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.publication .pub_desc {
    padding-top: 5px;
    padding-bottom: 5px;

    min-width: 510px;
}

.publication .pub_desc .pub_title {
    text-align: start;
    font-weight: bold;
    font-size: 18px;
}

.publication .pub_desc .pub_title a {
    color: #0000A0;
}

.publication .pub_desc .pub_author {
    text-align: start;
    font-style: italic;
}

.publication .pub_desc .pub_author a {
    color: #0000A0;
}

.publication .pub_desc .pub_links {
    position: relative;
}

.publication .pub_desc .pub_links a {
    margin-right: 0px;
    color: #0000A0;
}

.codelogo {
    margin-right: 10px;
    float: left;
    border: 0;
}

.code {
    clear: left;
    padding-bottom: 10px;
    vertical-align: middle;
}

.code .download a {
    display: block;
    margin: 0 15px;
    float: left;
}

.code strong a {
    color: #000;
}

.external a {
    margin: 0 10px;
}

.external a.first {
    margin: 0 10px 0 0;
}

.research_card_line {
    display: flex;
    justify-content: space-evenly;
}

.research {
    display: inline-block;
    vertical-align: top;

    border: 1px solid #f1ebeb;
    border-radius: 5px;
    margin: 10px auto;
    width: 320px;
    height: 350px;
    padding: 5px;

    text-align: center;
}

.research p {
    text-align: center;
}